<h4 class="text-center">Choose wisely</h4>
<audio [src]="pokemon()?.cries?.latest" controls></audio>

<fieldset class="checkbox-group">
  @for (pokemon of pokemons(); track $index) {
    <div class="checkbox">
      <label class="checkbox-wrapper">
        <input 
          type="checkbox" 
          class="checkbox-input" 
          [checked]="selectedPokemon === pokemon.id"
          (change)="onSelectPokemon(pokemon.id)" />
        <span class="checkbox-tile">
          <span class="checkbox-icon">
            <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
          </span>
          <span class="checkbox-label">{{ pokemon.name }}</span>
        </span>
      </label>
    </div>
  }
</fieldset>

<button mat-fab extended (click)="checkResult()">
  <mat-icon>arrow_forward_ios</mat-icon>
  Comprobar resultado
</button>

<p>
  Victorias: {{ victories }}
</p>
