<main>
  <div class="flex h-screen">
    <div class="m-auto">
      <h1 class="text-3xl">{{ title }} logo</h1>
      <div class="flex justify-center items-center">
        <button mat-fab extended (click)="readPokemon(getRandomNumber(1, 151))">
          <mat-icon>arrow_forward_ios</mat-icon>
          Comenzar
        </button>
      </div>
      @if (pokemon()) {
        <div class="flex justify-center items-center">
          <p>Id: {{ pokemon()?.id }}</p>
        </div>
        <div class="flex justify-center items-center">
          <p>Nombre: {{ pokemon()?.name }}</p>
        </div>
        <div class="flex justify-center items-center">
          <img [src]="pokemon()?.sprites?.front_default" [alt]="pokemon()?.name">
        </div>
        @for (type of pokemon()?.types; track $index) {
          <div class="flex justify-center items-center">
            <p>Tipo: {{ type?.type?.name }}</p>
          </div>
        }
        <div class="flex justify-center items-center">
          <audio [src]="pokemon()?.cries?.latest" controls></audio>
        </div>
      }
    </div>
  </div>
</main>