<div class="flex flex-col h-screen justify-center items-center">
    <img src="https://media1.tenor.com/m/jXFV2NJZl6AAAAAC/we-lost-squirtle-squad.gif" alt="two squirtles are standing next to each other with the words we lost written below them">
    <h1 class="text-2xl text-center mt-5">Don't be sad! You scored <strong>{{victories.getScore$()}}</strong> victories. Wanna try again or prefer to share the results?</h1>
    <button class="mt-5" (click)="goToChoiceSelector()">
        Start again
    </button>
    <p class="hr-text mt-5 mb-3">OR</p>
    <share-buttons [theme]="'circles-dark'"
    [include]="['x','telegram','whatsapp', 'copy']"
    [description]="'I scored ' + victories.getScore$() + ' victories in the #PokeQuiz app! You can try at: '"
    [url]="'https://pokequiz-ivory.vercel.app'"
    ></share-buttons>
</div>