<div class="flex flex-col h-screen justify-center items-center">
    <img src="https://media1.tenor.com/m/w975pQoLHjUAAAAd/pikachu-yeah.gif" alt="a group of pikachu cheering with the words good job we 're all proud of you behind them">
    <h1 class="text-2xl text-center mt-5">Nice work! You scored <strong>{{victories.getScore$()}}</strong> victories so far! Wanna continue or prefer to share the results?</h1>
    <button class="mt-5" (click)="goToChoiceSelector()">
        Another try
    </button>
    <p class="hr-text mt-5 mb-3">OR</p>
    <share-buttons [theme]="'circles-dark'"
    [include]="['x','telegram','whatsapp', 'copy']"
    [description]="'I scored ' + victories.getScore$() + ' victories so far in the #PokeQuiz app! You can try at: '"
    [url]="'https://pokequiz-ivory.vercel.app'"
    ></share-buttons>
</div>